

/* 	Tag Selector Section......................................*/

body {
	background-image: url("../images/pic6.jpg");
}

/*	Class Selector Section...................................*/

.container-fluid {
	background-color: rgba(108,108,108,0.78);
	width: 70%;
	
}

/*	ID Selector Section......................................*/

#unique {

}
p, h1, h2, h3, h4 {
	color: white;
	size: 20px;
}

a {
	color: aqua;
}
a:hover {
	color:pink;
	size: 30px;
}
img{
	width: 100%;
	height: auto;
	
}

form {
	width: 100%;
	padding: 0 20px;
	border: 1px dotted;
	resize: vertical;
	height: auto;
}
